* {
font-size: 20px;
font-family: 'Roboto', sans-serif;
color: #000000c9;
}

body {
background: #80808026;
height: 100vh;
}

.main {
display: flex;
margin: 20px;
justify-content: center;
align-items: stretch;
}

.calculator-container {
display:flex;
flex-direction: column;
box-shadow: 1px 1px 8px 2px;
background: white;
width: 100%;
}

.section-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-gap: 7px;
padding: 10px 5px 10px 5px;

}

.equals {
grid-column: 3 / span 2;
background: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 128, 255));
}

.operations {
color: rgb(0, 255, 255);
}

#displayBox {
	font-weight: bold;
	height: 95px;
	padding: 0px 0px 0px 12px;
	font-size: 65px;
}

#calculatingBox {
	font-size: 25px;
	height: 42px;
	padding: 10px;
}

button {
background-color: #a79a9a;
border-radius: 15px;
}

#power {
background-color: rgba(255, 68, 68, 1.0);
}

@media all and (min-width: 0px) and (max-width: 320px) {
	* {
	font-size: 19px;
	}
	#displayBox {
	font-size: 55px;
	}
	#calculatingBox {
		font-size: 20px;
		height: 32px;
	}
	
}

@media all and (min-width: 768px) and (max-width: 1024px) { 

* {
font-size: 65px;
}

#calculatingBox {
	font-size: 25px;
	height: 42px;
	padding: 10px;
}

}

@media all and (min-width: 1024px) and (max-width: 1280px) {

* {
font-size: 60px;
}

#calculatingBox {
	font-size: 25px;
	height: 42px;
	padding: 10px;
}

}

@media all and (min-width: 1280px) {

* {
font-size: 75px;
}

#calculatingBox {
	font-size: 25px;
	height: 42px;
	padding: 10px;
}

}
 

 

